/*
 *
 * Index 
 *
 */
table.weather {
    border-collapse: collapse;
    margin: 3em auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table.weather thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
table.weather th,
table.weather td {
    padding: 12px 15px;
}
table.weather tbody tr {
    border-bottom: 1px solid #dddddd;
}
table.weather tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
table.weather tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


/*
 *
 * Time Schedule 
 *
 */
/* Error Message */
span.error {
    padding: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

span.error:hover > * {
    color: black;
}

.closebtn {
    margin-left: 0.75em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Time List */
#scheduleList {
    list-style: none;
    margin-top: 3em;
    padding: 0;
}

li.timeItem > * {
    margin-left: 0.5em;
}

input.timeField {
    margin-left: 0 !important;
    width: fit-content;
}

li.timeItem > * {
    margin-left: 0.5em;
}

input.durSecInput {
    width: 4em;
}

/* Buttons */
.pretty-button {
    margin: 10px 2px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #0093D5;
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: small;
    outline: none;
}

.pretty-button:focus {
    outline: none;
}

.pretty-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

#add-button {
    background-color: #32CD32;
}

button:disabled,
#add-button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

span.cross {
    color: #ff0000;
    cursor: pointer;
}
span.cross:hover {
    color: #c70000;
}

span.check {
    color: #00ff00;
    cursor: pointer;
}
span.check:hover {
    color: #00a800;
}

span.configure {
    color: #000000;
    cursor: pointer;
}
span.configure:hover {
    color: #505050;
}