{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename= 'js/index.js') }}"></script>

    <div style="text-align: center;">
        <h1>{% block title %} Welcome to PlantBot {% endblock %}</h1>
        <table class="weather">
            <thead>
                <tr>
                    <th></th>
                    <th>Temperature</th>
                    <th>Humidty</th>
                    <th>Air Pressure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Measured:</th>
                    <th id="temp_sensor">{{weather.tempSensor}} °C</th>
                    <th id="hum_sensor">{{weather.humSensor}} %</th>
                    <th id="press_sensor">{{weather.pressSensor}} hPa</th>
                </tr>
                <tr>
                    <th>Internet:</th>
                    <th id="temp_online">{{weather.tempOnline}} °C</th>
                    <th id="hum_online">{{weather.humOnline}} %</th>
                    <th id="press_online">{{weather.pressOnline}} hPa</th>
                </tr>
            </tbody>
        </table>
        {% if isPumping == false %}
            <img src="{{ url_for('static', filename= 'images/water-drop-empty.svg') }}" 
                alt="water-drop" id="water-drop" onclick="changeImage()"">
        {% else %}
            <img src="{{ url_for('static', filename= 'images/water-drop-full.svg') }}" 
                alt="water-drop" id="water-drop" onclick="changeImage()"">
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename= 'js/weather.js') }}"></script>
{% endblock %}