{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename= 'js/index.js') }}"></script>

    <div style="text-align: center;">
        <h1>{% block title %} Welcome to PlantBot {% endblock %}</h1>
        {% if isPumping == false %}
            <img src="{{ url_for('static', filename= 'images/water-drop-empty.svg') }}" 
                alt="water-drop" id="water-drop" onclick="changeImage()"">
        {% else %}
            <img src="{{ url_for('static', filename= 'images/water-drop-full.svg') }}" 
                alt="water-drop" id="water-drop" onclick="changeImage()"">
        {% endif %}
    </div>
{% endblock %}