{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Settings {% endblock %}</h1>

<form method="post">
    <table border="0">
        <tr>
            <td>Pump Relay Signal Pin:</TD>
            <td>
                <input type="number" name="relay_pin" id="relay_pin"
                    placeholder="23" class="form-control"
                    value="{{ request.form['relay_pin'] }}"
                    min="0" max="100" style="width: 5em; height: auto; padding: 0; margin-left: 1em;"></input>
            </td>
        </tr>
        <tr>
            <td>Barometric Sensor SCL Pin:</TD>
            <td>
                <input type="number" name="relay_pin" id="relay_pin"
                    placeholder="4" class="form-control"
                    value="{{ request.form['relay_pin'] }}"
                    min="0" max="100" style="width: 5em; height: auto; padding: 0; margin-left: 1em;"></input>
            </td>
        </tr>
        <tr>
            <td>Barometric Sensor SDA Pin:</TD>
            <td>
              <input type="number" name="relay_pin" id="relay_pin"
                  placeholder="5" class="form-control"
                  value="{{ request.form['relay_pin'] }}"
                  min="0" max="100" style="width: 5em; height: auto; padding: 0; margin-left: 1em;"></input>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}