{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="relay_pin">Pump Relay Signal Pin</label>
        <input type="number" name="relay_pin"
               placeholder="23" class="form-control"
               value="{{ request.form['relay_pin'] }}"></input>
    </div>

    <div class="form-group">
        <label for="pumping">Pumping</label>
        <input type="checkbox" name="pumping" value="pumping" checked>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}